body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px; }

#renderProducts .card {
  height: auto;
  border-radius: 10px; }
  #renderProducts .card .imgCard {
    width: 100%;
    height: 230px; }
  #renderProducts .card .content {
    margin-top: 10px; }
    #renderProducts .card .content .nameTag {
      font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: -0.02rem;
      font-size: 1.3rem; }
    #renderProducts .card .content .discription {
      color: #73726c;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    #renderProducts .card .content .type {
      font-weight: 700;
      font-size: 1rem; }
    #renderProducts .card .content .d-flex {
      justify-content: space-between; }
      #renderProducts .card .content .d-flex .price {
        line-height: 1;
        padding: .4rem 0;
        margin-right: 1rem;
        color: green;
        white-space: nowrap; }
      #renderProducts .card .content .d-flex .addCart .img-fluid {
        width: 30px; }

/*# sourceMappingURL=style.css.map */
